<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/productList.css">
    <title>Products | SportWear</title>

    <%- include('../partials/header') %>
    
    <section class="sectionProductList"> 

       

        <div class="product-detail-main-container">

        <% products.forEach(products =>{ %>

            <div class="product-detail-container">

                <div class="product-detail-container-left">
                    <a href="/product/<%= products.id %>">  
                        <img src= "/imagenes/botines-nemeziz.jpg" class="productImages" alt="...">
                    
                    
                </div>
                <div class="product-detail-container-right">
                    <div>                       
                        <p class="prodName"><%= products.name %></p>                      
                    </div>
                    <div class="precioProducto">
                        <p class="prodPrice">Precio</p>
                        <p class="prodPrice"><%= products.price %></p>
                    </div> 
                    <div class= "product-detail-container-bottom">
                        <button type="submit" class="btn btn-secondary">Añadir al Carrito</button>
                        <button type="submit" class="btn btn-success" >Comprar Ahora</button>
                        
                        <a class="btn btn-link" href="/product/<%= products.id %>/edit">Editar</a>
                                              
                    </div>
                </div>
                <p>---------------------</p>
            </div> 

            <% }) %>   

        </div>

        </section>