<%- include('../partials/header'); %>

<link rel="stylesheet" href="/stylesheets/productDetail.css">

<section class="sectionProductDetail">
    <div class="product-detail-container">
        <div class="product-detail-container-left">
            
            <img src= <%= product.image %> class="productImages" alt="..." style="padding-right: 20px;";>
            
        </div>
        <div class="product-detail-container-right">
            <div>
                <h2><%= product.name %></h2>

            </div>
            <div class="precioProducto">
                <h2>Precio</h2>
                <h3><%= product.price %></h3>
            </div>
            <div class="detallesProdDetail">
                <p><label for=""><h2>Talle</h2></label>
                    <select name="talle" id="talle">
                        <option value="##">---</option>
                        <option value="XS">ExtraSmall</option>
                        <option value="S">Small</option>
                        <option value="M">Medium</option>
                        <option value="L">Large</option>
                    </select></p>
                    <p><label for=""><h2>Color</h2></label>
                        <select name="color" id="color">
                            <option value="##">---</option>
                            <option value="##">Rojo</option>
                            <option value="##">Amarillo</option>
                            <option value="##">Negro</option>
                            <option value="##">Rosa</option>
                        </select></p>
                    </div>
                    
                    <div>
                        <button type="submit">Añadir al Carrito</button> 
                        <button type="submit">Comprar Ahora</button>
                    </div>
                </div> 
                <div class="product-detail-container-bottom">
                    <div>       
                        <p><label for=""><h3>Descripcion</h3></label></p>
                        <textarea name="coment" id="" cols="70" rows="5" class="coment"><%= product.description %></textarea>
                    </div>
                    
                    <div>       
                        <p><label for=""><h3>Consultas</h3></label></p>
                        <textarea placeholder="Listado de preguntas y respuestas realizadas" name="coment" id="" cols="70" rows="5" class="coment"></textarea>
                    </div>
                    
                </div>
            </div>       
            
        </section>
        
        
        
        
        
        
        <%- include('../partials/footer') %>