<%- include('../partials/header'); %>
<link rel="stylesheet" href="/stylesheets/carrito.css">
<section class="carrito">
  <h1 id="chart-title">Tu Carrito</h1>
  <div class="chart-container">
    <div class="product1-container" id= "product-container">
      
      <div class="imagenCarrito" class="elemento">
        <img height="100px" src="<%= shoppingCart[0].product.image %>">
      </div>
      
      <div class="descripcionProdCarrito" id= "elemento">
        <h2><%= shoppingCart[0].product.name %></h2>
        <p><%= shoppingCart[0].product.description %></p>
      </div>
      
      <div class="botonesAgregarQuitar" id ="elemento">        
        <input type="number" name="cant" id="cant">
        <i class="far fa-minus-square"></i>
        <i class="far fa-plus-square"></i>
      </div>
      
      <div class="precioProd" id ="elemento">
        <h3 class="precio">$2000</h3>
      </div>
      
    </div>

    
    <div>
      <div class="total-container">
        <h2 class="precio">$6000</h2>
        <button class="buttons" type="submit">Realizar Compra</button>
        <button class="buttons" type="submit">Seguir Comprando</button>
      </div>
    </div>
    
    
    
  </div>
  
</section>

<%- include('../partials/footer') %>